@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

/* * {
    box-sizing: border-box;
  } */

body{
    margin-top: 100px;
    background-color: black;
    font-family: 'Tangerine', sans-serif;
}

.scribe{
    color: white;
    font-weight: 900;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: right;
    max-width: 200px;

}